<div class="cover-slider" style="margin-top: 10px; margin-bottom: 10px;">

  <h1 style="padding-left: 25px; font-weight: bold;"> {{title}} </h1>
  <swiper-container
  #swiper
  style="height: 100%;"
  [options]="slideOpts"
  [navigation]="true"
  (swiper)="swiperReady()"
  (slidechange)="swiperSlideChanged($event)"
  >
    <swiper-slide  style="height: auto;" *ngFor="let total of totalSlides; let i = index" style="display: flex; flex-direction: row;">
      <ion-row>
        <ion-col style="padding: 0;" size="12" size-xs="6" size-sm="3" size-md="2" size-lg="1.5" *ngFor="let item of selectedSegment; let j = index">
          <ion-card 
            class="cover-card"
            style="width: 90%;"
            (click)="openDetails(segmentList[i*slideOpts.slidesPerView + j].id)"
            *ngIf="segmentList[i*slideOpts.slidesPerView + j]"
          >
            <img class="image-cover-card" [src]="urlPath + segmentList[i*slideOpts.slidesPerView + j].poster_path"/>

            <ion-card-content class="content-cover-card">
              <p class="title"> {{segmentList[i*slideOpts.slidesPerView + j].title}} </p>
              <p class="subtitle" *ngIf="segmentList[i*slideOpts.slidesPerView + j].title !== segmentList[i*slideOpts.slidesPerView + j].original_title" > {{segmentList[i*slideOpts.slidesPerView + j].original_title}} </p>
              <div class="rating">
                <p class="small-text">★ {{segmentList[i*slideOpts.slidesPerView + j].vote_average | number:'1.1-1'}}</p>
                <p class="small-text">✰ {{segmentList[i*slideOpts.slidesPerView + j].vote_average | number:'1.1-1'}}</p>
              </div>
              <!-- <p style="margin-top: 20px; font-size: small; text-align: justify;">
                {{segmentList[i*slideOpts.slidesPerView + j].overview}}
              </p> -->
              <p class="year-card small-text">{{segmentList[i*slideOpts.slidesPerView + j].release_date.split('-')[0]}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </swiper-slide>
  </swiper-container>
</div>