@use 'src/global.scss' as g;
@use 'sass:color';

$text-color-tertiary: null;
$box-shadow-color: null;

@if g.$dark-theme {
  $text-color-tertiary: color.adjust(g.$text-color-secondary, $lightness: 12%);
  $box-shadow-color: color.adjust(g.$bg-color, $lightness: -100%);
} @else {
  $text-color-tertiary: color.adjust(g.$text-color-secondary, $lightness: -12%);
  $box-shadow-color: color.adjust(g.$bg-color, $lightness: -100%);
}

.image-cover-card {
  padding: 5px;
  border-radius: 20px;
}

.content-cover-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  background-color: g.$bg-card;
  padding-bottom: 30px;
}

.rating {
  display: flex;
  align-self: center;
  flex-direction: row;
  padding-top: 10px;
  justify-content: space-between;
  width: 85%;
}

.year-card {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

h1 {
  color: g.$text-color;
  font-family: g.$font;
  background-color: g.$bg-title;
  padding: 12px;
  margin-bottom: 5px;
  margin-top: 30px;
  border-top: 4px solid g.$details-color;
  border-bottom: 4px solid g.$details-color;
}

ion-card {
  box-shadow: 1px 1px 15px $box-shadow-color;
  border-radius: 20px;
  background-color: g.$bg-card-image;
}

swiper-container {
  --swiper-navigation-color: #{g.$details-color};
  --swiper-navigation-size: 30px;
  --swiper-navigation-sides-offset: 25px;
  --swiper-navigation-top-offset: 50%;
}

.small-text {
  color: g.$text-color-secondary;
  font-family: g.$font;
}

.subtitle {
  font-size: small;
  color: $text-color-tertiary;
}

.title {
  font-size: larger;
  font-weight: bold;
  color: g.$text-color;
  font-family: g.$font;
}