<div class="ion-page">
  <ion-content class="container" [fullscreen]="true">
    <div class="button-back">
      <ion-button slot="start" fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </div>

    <div *ngIf="isLoading" class="loading-container">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
    
    <div class="content" *ngIf="!isLoading && data">
      <ion-grid #grid_cards>
        <ion-row *ngFor="let row of totalRows; let i = index">
          <ion-col *ngFor="let col of cardsRows; let j = index">
            <app-card-cover
              [item]="data[i*cardsPerRow + j]"
              [desired_width_px]="230"
              />
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </div>
  </ion-content>
</div>
