<div class="ion-page">
  <ion-content class="container" [fullscreen]="true">
    <div class="button-back">
      <ion-button slot="start" fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </div>

    <div *ngIf="isLoading" class="loading-container">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
    
    <div class="content" *ngIf="!isLoading && data">
      <div #grid_cards *ngFor="let item of data">
        <app-card-cover [item]="item" />
      </div>
    </div>
  </ion-content>
</div>
