<div class="ion-page">
  <!-- <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Tab 1
      </ion-title>
    </ion-toolbar>
  </ion-header> -->
  
  <ion-content [fullscreen]="true">    
    <div style="margin-top: 40px;">
      <app-slider
        [title]="'Discover'"
        [url]="url_api + '/get-page'"
        [is_paginated]="true"
        [type]="'cover'"
        [route]="'/tabs/movies'"
        [desired_width_px]="230"
        [exceptions_width]="[
          {
            max_width: 320,
            slides: 1,
          },
        ]"
        ></app-slider>
        
      <!-- <app-slider
        [title]="'Test'"
        [data]="fetchData1.results"
        [is_paginated]="true"
        [type]="'cover'"
        [route]="'/tabs/movies'"
        [desired_width_px]="230"
        [exceptions_width]="[
          {
            max_width: 320,
            slides: 1,
          },
        ]"
      ></app-slider> -->
    </div>
    
  </ion-content>  
</div>