@use 'src/global.scss' as g;

.ion-page {
  background: g.$bg-url center/cover;
  background-repeat: repeat;
  background-size: 300px 300px;
  background-color: g.$bg-color;
}

ion-content {
  --background: transparent;
  backdrop-filter: blur(1.5px);
}