@use 'src/global.scss' as g;
@use 'sass:color';

$blur: 5px;
$invert-bd: 1;
$invert-poster: 0;

@if g.$dark-theme {
  $invert-bd: 0;
  $invert-poster: 1;
}
  

.ion-page {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: transparent;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(1100px, 100vw);
  justify-self: center;
  background-color: g.$no-bg-title;
  padding-bottom: 10%;
  // background: transparent;
}

.details {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.content-right {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.content-right > * {
  margin: 0;
  margin-top: 10%;
}
  

.sidebar-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 1000px;
  background-color: g.$bg-title;
}

@media (max-width: 800px) {
  .sidebar-left {
    display: none;
  }

  .content-right {
    width: 80%;
  }
}

.buy-button {
  position: absolute;
  bottom: 10%;
  right: 5%;
  background-color: g.$details-color;
  border-radius: max(3vw, 30px);
  padding: 0 max(1vw, 6px);
  
  font-size: max(1vw, 10px);
  border: max(.4vw, 4px) solid g.$bg-title;
  color: g.$no-text-color;
  height: max(min(6vw, 75px), 40px);
}

.buy-button ion-icon {
  margin-right: max(.8vw, 8px);
}

.buy-button .text {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 300px) {
  .buy-button .text .tickets {
    display: none;
  }
}

.backdrop {
  position: relative;
  top: 0;
  // height: min-content;
  width: min(1100px, 100vw);
  height: min(618px, 57vw);
  backdrop-filter: none;
}

.bd-img {
  width: 100%;
  // border-radius: 30px;
}

.bd-no-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: invert($invert-bd);

}

.bd-content, .bd-content-mobile {
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: max(90px, 40%);
  position: absolute;
  bottom: 10%;
  left: 5%;
}

.bd-content-mobile {
  position: relative;
  top: 0;
  left: 0;
  height: min-content;
}

.poster-img {
  height: 100%;
  margin-right: 10px;
  border: max(.4vw, 4px) solid g.$bg-title;
  backdrop-filter: blur($blur);
  border-radius: max(2vw, 15px);
  object-fit: cover;
}

.bd-content-mobile .poster-img {
  border: max(.5vw, 5px) solid g.$bg-title;
  object-fit: contain;
}

.bd-runtime {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.bd-runtime > * {
  margin: 0;
}

.bd-text {
  display: flex;
  flex-direction: column;
  background-color: g.$bg-title;
  padding: max(min(2vw, 20px), 15px) max(min(4vw, 40px), 20px);
  border-radius: max(2vw, 15px);
  color: g.$text-color;
  font-size: max(min(1.5vw, 18px), 10px);
  align-self: flex-end;
  
  backdrop-filter: blur($blur);
  max-width: 550px;
}

.bd-genre {
  font-size: max(min(1.75vw, 20px), 12px);
}

.bd-content-mobile .bd-text {
  font-size: max(1.5vw, 12px);
  align-self: flex-start;
}

.bd-content-mobile .bd-title {
  font-size: max(2vw, 18px);
}

.bd-content-mobile .bd-genre {
  font-size: max(1.75vw, 14px);
}

.no-image {
  background-color: g.$bg-title;
  padding: 6vw;
  backdrop-filter: blur($blur);
  width: 25vw;
  height: 25vw;
}

.no-image-poster {
  background-color: g.$bg-title;
  padding: 4vw;
  backdrop-filter: blur($blur);
  height: 80%;
  align-self: flex-end;
  filter: invert($invert-poster);
}

.no-image-backdrop {
  width: min(1100px, 100vw);
  height: min(618px, 56vw);
  backdrop-filter: blur($blur);
}


@media (min-width: 300px) {
  .bd-content-mobile .bd-text {
    font-size: max(2.5vw, 12px);
    width: 100%;
  }

  .bd-content-mobile .bd-title {
    font-size: max(3.8vw, 18px);
  }

  .bd-content-mobile .poster-img {
    height: max(90px, 50vw);
  }
}

@media (max-width: 300px) {
  .bd-content-mobile {
    flex-direction: column;
    position: relative;
    height: max-content;
    padding-bottom: 25px;
  }

  .bd-content-mobile .bd-text {
    width: 100%;
  }
  
  .bd-content-mobile .poster-img {
    width: 100%;
    margin-bottom: 10px;
  }

  .no-image {
    padding: 3vw;
  }
}


.bd-subtitle {
  font-style: italic;
  font-weight: bold;
}

.bd-date {
  font-weight: bold;
  margin: 0;
  letter-spacing: .5px;
  font-style: italic;
}

@media (max-width: 800px) {
  .bd-content {
    display: none;
  }
}

@media (min-width: 800px) {
  .bd-content-mobile {
    display: none;
  }
}

.bd-text > * {
  margin: 0;
  margin-top: max(min(1vw, 10px), 5px);
}

.bd-flex-genres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bd-flex-genre {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.bd-genre {
  margin: 0;
}

.bd-genre-comma {
  margin: 0;
  margin-right: 10px;
}

.bd-title {
  font-size: max(2.25vw, 14px);
  top: 0;
  margin: 0;
  font-weight: bold;
}



.card-rating {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: g.$bg-title;
  padding: max(3vw, 15px) max(5vw, 30px);

  border-radius: max(2vw, 15px);
  width: 100%;
  height: min-content;
}

.card-rating .container-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: max(2vw, 10px);
}

.card-rating .container-rating .rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: g.$details-color;
}

.card-rating .container-rating .rating > * {
  margin: auto 1.5vw;
}

.card-rating .container-rating .rating ion-icon {
  font-size: max(5vw, 30px);
  margin-bottom: 1vw;
}

.card-rating .container-rating .rating p {
  font-size: max(2.5vw, 15px);
  font-weight: bold;
  
}

.card-rating .overview {
  
  text-align: justify;
  font-size: max(min(2vw, 22px), 12px);
  color: g.$text-color;
}


.cast .title {
  font-size: max(2vw, 12px);
  font-weight: bold;
  margin: 0;
  
}

.flex-cast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0;
  // overflow-x: auto;
  // overflow-y: hidden;
  // overflow-y: auto;
  // overflow-x: hidden;
  overflow: auto;

  max-height: max(165px, 19vw);
  white-space: nowrap;
}

.card-cast {
  height: max(150px, 18vw);
  width: max(100px, 12vw);
  background-color: g.$bg-title;
  border-radius: 1vw;
  margin: 1vw;
}