<div class="ion-page">
  <div class="button-back">
    <ion-button slot="start" fill="clear" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <!-- 
    
    rating
    homepage (tickets)
    overview
  
    cast
    crew
    critics
    reviews
    my rating
    similar media
    videos
    photos
    more info
  
  -->
  
  <ion-content *ngIf="media" [fullscreen]="true">
    <div class="content">
  
      <div class="backdrop">
        <img class="bd-img" [src]="pathImgOriginal + media.backdrop_path" />
        <div class="bd-content">
          <img class="poster-img" [src]="pathImg500 + media.poster_path" />
          <div class="bd-text">
            <p class="bd-title">{{media.title}}</p>
            <p class="bd-subtitle">{{media.original_title}}</p>
            <div class="bd-runtime"><p *ngIf="runtimeHours > 0">{{runtimeHours}}h &nbsp;</p><p *ngIf="runtimeMinutes > 9">{{runtimeMinutes}}m</p><p *ngIf="runtimeMinutes < 10 && runtimeMinutes > 0">0{{runtimeMinutes}}m</p></div>
            <div class="bd-flex-genres">
              <div class="bd-flex-genre" *ngFor="let genre of media.genres; let g = index"><p class="bd-genre">{{genre.name}}</p><p class="bd-genre-comma" *ngIf="g < media.genres.length - 1">,</p></div>
            </div>
          </div>
        </div>

        <ion-button class="buy-button" fill="clear" (click)="openHomepage(media.homepage)">
          <ion-icon name="ticket" style="margin-right: .8vw;"></ion-icon>
          <p class="text">Buy Tickets</p>
        </ion-button>
      </div>
      
      <div class="details">
        <div class="content-right">
          <div class="card-rating">
            <div class="left-col">
              <div class="rating">
                <ion-icon name="star"></ion-icon>
                <p class="rating-number">{{media.vote_average | number:'1.1-1'}}</p>
              </div>
              <div class="rating">
                <ion-icon name="star-outline"></ion-icon>
                <p class="rating-number">{{media.vote_average | number:'1.1-1'}}</p>
              </div>
            </div>
            
            <div class="overview">
              <p class="overview-text">{{media.overview}}</p>
            </div>
          </div>

          <div class="cast">
            <p class="title">Cast</p>
            <div class="flex-cast">
              <div class="card-cast"></div>
              <div class="card-cast"></div>
              <div class="card-cast"></div>
              <div class="card-cast"></div>
              <div class="card-cast"></div>
              <div class="card-cast"></div>
              <div class="card-cast"></div>
              <div class="card-cast"></div>
              <div class="card-cast"></div>
            </div>
          </div>

  
        </div>
        <div class="sidebar-left"></div>
      </div>
      
    </div>
  </ion-content>  
</div>
  