@use 'sass:color';

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

/* Theme variables */

// $dark-theme: true;
// $bg-color: rgba(100, 0, 0, 1);
// $text-color: white;
// $bg-title: rgba(255, 255, 255, .7);
// $bg-card: rgba(20, 20, 20, 1);
// $details-color: yellow;



// $dark-theme: true;
// $bg-color: rgba(100, 0, 0, 1);
// $text-color: white;
// $bg-card: rgba(20, 20, 20, 1);
// $details-color: #0099ff;


$dark-theme: false;
$bg-color: rgba(180, 0, 0, 1);
$text-color: black;
$bg-card: rgba(225, 225, 225, .9);
$details-color: #003c80;


$bg-card-image: null;
$bg-url: null;
$text-color-secondary: null;
$bg-title: color.adjust($bg-card, $alpha: -.15);

@if $dark-theme {
  $text-color-secondary: color.adjust($text-color, $lightness: 12%);
  $bg-card-image: color.adjust($bg-card, $lightness: 8%);
  $bg-url: url('./assets/bg/popcorn-white.png');
} @else {
  $text-color-secondary: color.adjust($text-color, $lightness: -12%);
  $bg-card-image: color.adjust($bg-card, $lightness: -8%);
  $bg-url: url('./assets/bg/popcorn-black.png');
}